<% if logged_in? %>

  <script type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

  <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.logo_darkURL = "<%= image_url('logo_dark.png') %>";
      window.team_meetingURL = "<%= image_url('team_meeting.jpg') %>";
    </script>

<div id="root">React broken Bro!
</div>