#home {
    display: flex;
    flex-direction: row;
}

.nav-home {
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.nav-home h2{
    font-size: 16px;
    padding: 30px;
}

.home-search-container{
    border: 1px solid grey;
    border-radius: 16px;
    font-size: 0.7rem;
    width: 150px;
    height: 25px;
    padding: 5px;
    margin: 30px 50px;
    display: flex;
    align-items: center;
}

.home-search-container-large{
    border: 1px solid grey;
    border-radius: 16px;
    font-size: 0.7rem;
    width: 450px;
    height: 25px;
    padding: 5px;
    margin: 30px 50px;
    display: flex;
    align-items: center;
}

.home-search-container form{
    display: flex;
    position: relative;
}

.home-search-container input{
    width: 115px;
}
.home-search-container-large input{
    width: 400px;
}

.search-icon-container{
    padding: 0.5rem;
    color: gray;
}

.body-home{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-home {
    width: 82%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-dropdown-container{
    position: absolute;
    top: 60px;
    width: 450px;
    background: white;
    padding: 20px;
    font-size: 0.7rem;
    min-width: 170px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px lightgrey;
    color: #151b26;
    z-index: 10;
    box-sizing: border-box;
}

.dropdown-title{
    margin: 10px 0 10px 0;
    
}

