.project-form {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    color: #151b26;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.project-label {
    font-size: 25px;
    padding: 30px 20px 0 10px;
}

.project-form-title-container {
    width: 95%;
    border-bottom: 1px solid darkgray;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.project-field-title {
    resize: none;
    font-size: 0.9rem;
    width: 60%;
    height: 45px;
    line-height: 45px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin: 10px;
    padding-left: 10px;
    box-sizing: content-box;
}

.project-field-description {
    font-size: 0.9rem;
    width: 60%;
    height: 100px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 5px;
    box-sizing: content-box;
}

.dates {
    font-size: 15px;
    margin: 40px 0;

}


input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    /* color: lightgray; */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    border:1px solid lightgray;
    border-radius: 5px;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

.project-delete-form-container{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    /* position: relative;
    top: -200px; */
}

.project-delete-form{
    height: 100%;
}

.project-delete-form-title{
    font-size: 1.5rem;
    padding: 10px;
    height: 40%;
    border-bottom: 1px solid darkgray;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.project-delete-form-body{
    height: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.project-delete-form-buttons{
    display: flex;
    width: 100%;
    padding: 0 20px 0 20px;
    justify-content: space-between;
}

.close-icon-container{
    cursor: pointer;
}

.delete-cancel-button{
    height: 25px;
    width: 70px;
    font-size: 0.8rem;
    border-radius: 3px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid grey;
    color: grey;
}

.delete-cancel-button:hover{
    background-color: gray;
    color: white;
}

.delete-confirm-button {
    height: 25px;
    width: 70px;
    font-size: 0.8rem;
    border: 2px solid rgb(244, 134, 187);
    color: rgb(244, 134, 187);
    border-radius: 3px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

.delete-confirm-button:hover {
    
    background-color: rgb(244, 134, 187);
    border: 2px solid rgb(244, 134, 187);
    color: white;
}

.project-form-nav-button {
    height: 25px;
    width: 70px;
    /* line-height: 25px; */
    font-size: 0.8rem;
    border: 2px solid rgb(244, 134, 187);
    color: rgb(244, 134, 187);
    border-radius: 3px;
    text-align: center;
    margin: 0 10px;

    
}

.project-form-nav-button:hover {
    
    background-color: rgb(244, 134, 187);
    border: 2px solid rgb(244, 134, 187);
    color: white;
}