.home-projects-index{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.home-projects-index h2{
    font-size: 20px;
    width: 100%;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
    margin: 20px;
}

.home-project-element{
    font-size: 0.9rem;
}

.home-project-container{
    display: flex;
    flex-direction: row;
}

.tile-container{
    border-radius: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 221px;
    min-width: 150px;
    padding: 15px 0;
    width: 150px;
    align-items: center;
    background: transparent;
    display: flex;
    flex-flow: column;
    position: relative;
    transition-duration: .4s;
    margin: 20px;
}

.tile-container:hover{
    background-color: #e7e7e7;
    margin-top: 10px;
}

.tile{
    border-radius: 20px;
    height: 130px;
    width: 130px;
    box-shadow: inset 0 -2px rgba(0,0,0,.05);
    align-items: center;
    background: #3ad580;
    display: flex;
    fill: #fff;
    flex-direction: column;
    justify-content: space-evenly;
    flex-flow: column;
    position: relative;
    transition-duration: .4s;
    
}


.project-leader{
    display: none;
    color: white;
    transition-duration: .4s;
}

.tile-container:hover .project-leader{
    display: flex;
    /* transition-duration: .4s; */
}

.tile-container:hover .tile-top-container{
    display: flex;
}
.tile-top-container{
    color: white;
    display: none;
    justify-content: space-between;
    width: 80%;
    transition-duration: .4s;
}



.tile-container:hover .top-icon-container{
    display: flex;
}

.etc-icon-container{
    color: lightgray;
    padding: 1px 2px 2px 4px;
}

.etc-icon-container:hover{
    color: white;
}





.new-project-tile{
    border-radius: 20px;
    height: 130px;
    width: 130px;
    box-shadow: inset 0 -2px rgba(0,0,0,.05);
    align-items: center;
    background: #3ad580;
    display: flex;
    fill: #fff;
    flex-direction: column;
    justify-content: center;
    flex-flow: column;
    position: relative;
    cursor: pointer;
}

.icon-container{
    color: white;  
}



.project-menu-container{
    position: absolute;
    top: 40px;
    left: 90px;
    background: white;
    padding: 5px 0 5px 0;
    font-size: 0.9rem;
    min-width: 150px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px lightgrey;
    color: #151b26;
    z-index: 5;
}

.project-menu-item{
    padding: 5px;
    width: 100%;
}

.project-menu-item:hover{
    background-color: #e7e7e7;
}

