.project-page{
    width:100%;
    height:100%;
    display: flex;
    box-sizing: border-box;
}

.project-main{
    display: flex;
    flex-direction: column;
    width: 82%;
    height: 100%;
    box-sizing: border-box;
}

.project-main h1{
    font-size: 20px;
    font-weight: bold;
    padding: 20px 15px;
    box-sizing: border-box;
}

.project-title-container{
    display: flex;
    justify-content: left;
    box-sizing: border-box;
}

.project-mini-tile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    min-width: 70px;
    height: 70px;
    min-height: 70px;
    border-radius: 15px;
    color: white;
    margin: 20px;
}


.project-header-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    height: 20%;
    box-sizing: border-box;
    font-size: 0.8rem;
}

.project-header-text{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project-owner{
    padding: 5px 15px;
    color: gray;
}

.project-description{
    padding: 5px 15px;
    color: gray;
}

.project-body-container{
    width: 100%;
    height: 80%;
    display: flex;
    transition-duration: 2s;
}

.tasks-index-container{
    display: flex;
    min-width: 500px;
    flex-direction: column;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.add-task-button-container{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.add-task-button {
    height: 25px;
    width: 70px;
    line-height: 22px;
    font-size: 0.7rem;
    border: 2px solid #4186e0;
    color: #4186e0;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.add-task-button:hover {
    
    background-color: #4186e0;
    border: 2px solid #4186e0;
    color: white;

}

.back-projects-button {
    height: 25px;
    width: 120px;
    margin-right: 40px;
    line-height: 22px;
    font-size: 0.7rem;
    border: 2px solid #4186e0;
    color: #4186e0;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.back-projects-button:hover {
    
    background-color: #4186e0;
    border: 2px solid #4186e0;
    color: white;

}

.tasks-table{
    width: 100%;
    padding: 10px 30px;
    font-size: 0.8rem;
}
.tasks-table-row-top{
    display: flex;
    width: 100%;
    color: gray;
}

.tasks-table-row{
    display: flex;
    width: 100%;
    cursor: pointer;
}

.complete-icon-container{
    color: gray;
    border: 2px solid grey;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.complete-icon-container-checked{
    /* background: #fff; */
    color: white;
    border: 2px solid #25e8c8;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: #25e8c8;
}

.complete-icon-container:hover{
    color: white;
    background: grey;
    border: 2px solid grey;
}

.complete-icon-container-checked:hover{
    color: #25e8c8;
    border: 2px solid #25e8c8;
    background-color: white;
}

.complete-icon-container > i {
    padding: 5px 4px;
}

.complete-icon-container-checked > i {
    padding: 5px 4px;
}

.task-table-cell-task{
    width: 40%;
    display: flex;
}

.task-past-due{
    margin-left: 20px;
    color: #e8384f;
    font-size: 0.6rem;
}

.task-table-cell-assignee{
    width: 30%;
    display: flex;

}
.task-table-cell-start-date{
    width: 15%;
    line-height: 32px;

}
.task-table-cell-end-date{
    width: 15%;
    line-height: 32px;
}

[class^='task-table-cell'] {
    border-bottom: 1px solid lightgray;
    padding: 5px;
    align-items: center;
    
}

.task-table-cell-end-date-past-due {
    border-bottom: 1px solid lightgray;
    padding: 5px;
    color: #e8384f;
    align-items: center;
    width: 15%;
    line-height: 32px;
}

.team-member{
    color: white;
}

.full-name{
    display: flex;
}

@media only screen and (max-width: 1200px) {

    .full-name{
        display: none;
    }
    .task-table-cell-start-date{
        display: none;
    }

    .task-table-cell-assignee{
        width: 15%;
    }
}
/* 
@media only screen and (max-width: 1000px) {

} */