html, body {
    font-family: 'Roboto', sans-serif;
    /* color: white; */
    /* background-color: #151b26; */
    /* margin: 50px; */
    width: 100vw;
    height: 100vh;
    color: #151b26;

}

#root{
    width: 100vw;
    height: 100vh;
}

.main{
    width: 100%;
    height: 100%;
}

#home{
    /* height: inherit; */
    width: 100%;
    height: 100%;
}