.login-signup-form {
    /* border: 2px solid red; */
    height: 500px;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.form-top {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form-bottom {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: auto ;
    /* margin: 100px 0 0 0; */
}


.login-signup-field {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 15px;
}
.team-signup {
    width: 100%;
}
.login-signup-label {
    width: 100%;
    line-height: 10px;
    font-size: 13px;
    color: darkgray;
    padding: 15px 0 5px 0;
    text-align: left;
}



.login-signup-button {
    box-sizing: content-box;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(244, 134, 187);
    color:  white;
    font-size: 15px;
    margin: 10px 0 0 0;
    padding: 0px;
    text-align: center;
    border: 2px solid rgb(244, 134, 187);
}

.login-signup-button:hover {

    color: rgb(244, 134, 187);
    background-color: white;
    border: 2px solid rgb(244, 134, 187);
}

.form-title {
    font-size: 30px;;
}

/* .login-signup-button {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    background-color: rgb(244, 134, 187);
    color:  lightgrey;
    font-size: 15px;
    margin: 100px 0;
} */

.instead {
    display: flex;
    justify-content: space-evenly;
    padding: 5px 0 0 0;
    font-size: 13px;
}

.link-form-label {
    color: darkgray;
}

.link-form {
    text-decoration: none;
    font-weight: bold;
    color: rgb(244, 134, 187);
}
.link-form:hover {
    text-decoration: underline;

}

.error {
    padding: 10px 0 0 0;
    list-style: none;
    color: red;
    padding-top: 5;
    font-size: 12px;
}

.errors {
    list-style: none;

}

.team-buttons-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.team-buttons {
    height: 30px;
    width: 47%;
    border: 2px solid rgb(116, 156, 254);
    color: rgb(116, 156, 254);
    border-radius: 3px;
    text-align: center;
    margin: 0 10px;
    margin: 0;
    padding: 0;
}

.team-buttons:hover {
    border: 2px solid rgb(116, 156, 254);
    background-color: rgb(116, 156, 254);
    color: white
}