.nav {
    display: flex;
    /* justify-content: space-evenly; */
    margin: 50px 50px 0 50px;
}

.logo-header {
    width: 150px;
    /* max-width: 100%; */
    height: auto;
    margin-right: auto;
}

nav.login-signup {
    margin-left: auto;
}

.nav-button {
    height: 25px;
    width: 70px;
    line-height: 25px;
    font-size: 0.8rem;
    border: 2px solid rgb(244, 134, 187);
    color: rgb(244, 134, 187);
    border-radius: 3px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

.nav-button:hover {
    
    background-color: rgb(244, 134, 187);
    border: 2px solid rgb(244, 134, 187);
    color: white;
}

.user-greeting-container {
    display: flex;
    align-items: center;
}

.user-greeting {
}